---
interface Props {
  title: string;
  description: string;
  author: string;
  keywords: string;
  image: string;
  imageAlt: string;
  twitter: string;
  url: string;
}
const { title, description, author, keywords, image, imageAlt, twitter, url } =
  Astro.props;
---

<title>{title}</title>
<meta name="description" content={description} />
<meta name="keywords" content={keywords} />
<meta name="author" content={author} />
<!-- OGP(Open Graph Protocol) -->
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={image} />
<meta property="og:url" content={url} />
<meta property="og:type" content="website" />
<!-- Twitter Card -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content=`@${twitter}` />
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />
<meta name="twitter:image" content={image} />
<meta name="twitter:image:alt" content={imageAlt} />
