---
// Components
import SEO from "../components/SEO.astro";
import LanguagePicker from "../components/LanguagePicker.astro";
import HeadHrefLangs from "../i18n/components/HeadHrefLangs.astro";
import Sentry from "../components/Sentry.astro";
// Types
interface Props {
  title: string;
  description: string;
  author: string;
  keywords: string;
  image: string;
  imageAlt: string;
}
const { title, description, author, keywords, image, imageAlt } = Astro.props;
const {
  PROTOCOL = "http",
  HOSTNAME = "localhost",
  PORT,
  TWITTER = "benwkz",
  ENVIRONMENT = "development",
} = import.meta.env;
const portSegment = PORT ? `:${PORT}` : "";
const baseURL = `${PROTOCOL}://${HOSTNAME}${portSegment}`;
const path = Astro.url.pathname;
---

<!doctype html>
<html lang="en">
  <head>
    <SEO
      title={title}
      description={description}
      author={author}
      keywords={keywords}
      image={image}
      imageAlt={imageAlt}
      url={baseURL + path}
      twitter={TWITTER}
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="generator" content={Astro.generator} />
    <HeadHrefLangs url={baseURL} path={path} />
    {ENVIRONMENT === "development" ? "" : <Sentry />}
  </head>
  <body>
    <slot />
    <LanguagePicker />
    <style is:global>
      :root {
        --accent: 28, 115, 255;
        --accent-light: 155, 215, 255;
        --accent-dark: 8, 50, 130;
        --accent-gradient: linear-gradient(
          45deg,
          rgb(var(--accent)),
          rgb(var(--accent-light)) 25%,
          white 50%
        );
      }
      html {
        font-family: system-ui, sans-serif;
        background: #13151a;
        background-size: 224px;
      }
      code {
        font-family:
          Menlo,
          Monaco,
          Lucida Console,
          Liberation Mono,
          DejaVu Sans Mono,
          Bitstream Vera Sans Mono,
          Courier New,
          monospace;
      }
    </style>
  </body>
</html>
